<?xml version="1.0"?>
<configuration>
	<connectionStrings>
		<add name="test" connectionString="Server=tcp:kpc11p8mn0.database.windows.net,1433;Database=SqlFramework;User ID=SqlFramework@kpc11p8mn0;Password=5cuu8LBl8O8YMAL2qZdA;Trusted_Connection=False;Encrypt=True;Connection Timeout=30;"/>
	</connectionStrings>
</configuration>
	