<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  <connectionStrings>
	<add name="setup" connectionString="Data Source=localhost;Integrated Security=SSPI;" />
	<add name="test" connectionString="Data Source=localhost;Initial Catalog=CodeGeneratorTests;Integrated Security=SSPI;" />
  </connectionStrings>
</configuration>